/*
This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. 
You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. 
Please contact Monotype with any questions regarding Web Fonts: http://www.fontshop.com
*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 1.5vw;
    line-height: 1.4em;
    --bitterlime: #BDFF00;
    --blue: #0000FF;
    --brightgray: #E9E9E9;
    --black: #000;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

main {
    min-height: calc(100vh - 5rem);
    margin-bottom: 0.9375rem;
}

@media screen and (max-width: 425px) {
    main {
        margin-bottom: 0;
    }
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    font-family: "Helvetica Neue LT W01_51488890";
    font-weight: normal;
    background: var(--brightgray);

    a {
        text-decoration: none;
        color: #000;
    }

    a.link-selected {
        text-decoration: underline;
    }

    a:hover {
        text-decoration: underline;
    }

    ul,
    ol {
        list-style: none;
    }

    .container {
        max-width: 100rem;
        margin-inline: auto;

        header {

            .burger {
                display: none;
            }

            @media screen and (max-width: 425px) {
                :root {
                    font-size: 4vw;
                }

                .burger {
                    display: flex;
                    justify-content: space-between;
                    background: var(--blue);
                    color: var(--bitterlime);
                    font-size: 24px;
                    padding-inline: 20px;
                    position: fixed;
                    width: 100%;
                    top: 0;
                    left: 0;
                    right: 0;

                    div {
                        padding: 11px 0 0 0;
                    }

                    .lingua_mae a {
                        color: var(--bitterlime);
                    }

                    .menu {
                        margin-bottom: -1rem;
                        padding-bottom: 29px;
                    }

                    .menu:after {
                        content: '•••';
                        font-size: 31px;
                        color: var(--bitterlime);
                        letter-spacing: 0.2em;
                        line-height: 30px;
                    }

                    a {
                        text-decoration: none;
                    }
                }
            }

            @media screen and (max-width: 425px) {
                .burger {
                    overflow: hidden;
                }
            }

            @media screen and (max-width: 375px) {
                .burger {
                    div {
                        padding: 15px 0 20px 0;
                    }

                    .menu:after {
                        line-height: 25px;
                    }
                }
            }

            @media screen and (max-width: 320px) {
                .burger {


                    div {
                        padding: 18px 0 24px 0;
                    }

                    .menu:after {
                        line-height: 21px;
                    }
                }
            }

            nav {
                margin-bottom: 3rem;
                /*margin-bottom: 6rem;*/

                ul {
                    display: flex;
                    justify-content: space-between;
                    padding-inline: 0.9375rem;
                    padding-bottom: 12px;
                    padding-top: 8px;
                    margin-bottom: 18px;
                    width: 100%;
                    background: var(--blue);
                    font-size: 0.75rem;

                    li a {
                        color: var(--bitterlime);
                        text-transform: uppercase;
                        letter-spacing: 0.05em;
                    }

                    @media screen and (max-width: 425px) {
                        li {
                            padding: 15px 0;
                        }
                    }

                }

                @media screen and (max-width: 1440px) {
                    ul {
                        font-size: 12px;
                        padding-bottom: 5px;
                        padding-top: 4px;
                    }
                }

                @media screen and (max-width: 425px) {
                    ul {
                        display: block;
                        font-size: 24px;
                    }
                }

                ol {
                    display: flex;
                    justify-content: space-between;
                    padding-inline: 0.9375rem;
                    /*position: fixed;
                    width: 100%;*/

                    li {
                        font-size: 2rem;
                    }

                    @media screen and (max-width: 1440px) {
                        li {
                            font-size: 32px;
                        }
                    }
                }

                @media screen and (max-width: 425px) {
                    ol {
                        display: none;
                    }
                }

                @media screen and (max-width: 1024px) {
                    ol {
                        padding-inline: 2rem;
                    }
                }

            }

            @media screen and (max-width: 425px) {
                nav {
                    display: none;
                    margin-bottom: 0;
                    width: 100%;
                    height: 100%;
                    background: var(--blue);
                    position: fixed;
                    margin-top: -20px;
                }
            }
        }

        .card-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 0.9375rem;
            padding-inline: 0.9375rem;

            .card {
                border-top: 9px solid var(--blue);
                border-bottom: 9.3px solid var(--blue);

                .card__img {
                    width: 100%;
                    object-fit: cover;
                }

                .card-content {
                    background: var(--bitterlime);
                    color: var(--blue);
                    align-self: end;
                    padding: 10px 0.7rem;

                    .card__title {
                        font-size: 0.75rem;
                    }

                    @media screen and (max-width: 1440px) {
                        .card__title {
                            font-size: 18px;
                            line-height: 1.15em;
                        }
                    }
                }
            }

            a:hover {
                color: var(--blue);
                font-family: "Helvetica Neue LT W01_56 It";
                text-decoration: none;
            }
        }

        @media screen and (max-width: 1024px) {
            .card-grid {
                padding-inline: 2rem;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        @media screen and (max-width: 768px) {
            .card-grid {
                grid-template-columns: 1fr 1fr;
            }
        }

        @media screen and (max-width: 425px) {
            .card-grid {
                grid-template-columns: 1fr;
                padding-inline: 20px;
                margin-top: 73px;
            }
        }

        @media screen and (max-width: 375px) {
            .card-grid {
                margin-top: 75px;
            }
        }

        @media screen and (max-width:320px) {
            .card-grid {
                margin-top: 78px;
            }
        }


        .table-sortable .th-sort-asc,
        .table-sortable .th-sort-desc {
            text-decoration: underline;
        }

        .content-table {
            border-collapse: collapse;
            font-size: 1.5em;
            min-width: 400px;
            width: 100%;
            cursor: pointer;

            thead tr {
                text-align: left;
                width: min-content;
            }

            th {
                padding: 0 4.5rem 1.18rem 4.5rem;
                border-bottom: 3px solid var(--blue);
            }

            th:hover,
            th:active,
            th:focus,
            th::before,
            th::after,
            th:root {
                text-decoration: underline;
            }

            td {
                line-height: 0.9em;
                padding: 0.9rem 4.5rem 1.18rem;
            }

            th,
            td {
                font-size: 1.45rem;
            }

            tbody tr {
                border-bottom: 3px solid var(--blue);
            }

            tbody tr:hover {
                background: var(--bitterlime);
                color: var(--blue);
            }
        }

        .content-table.project-bar {
            pointer-events: all;
            cursor: default;

            .project-table {
                pointer-events: none;
                border-top: 3px solid var(--blue);

                tr {
                    display: flex;
                    justify-content: space-between;
                    background: var(--bitterlime);
                    color: var(--blue);

                    td {
                        cursor: pointer;

                        a {
                            color: var(--blue);
                        }

                        span {
                            font-family: 'Times New Roman', Times, serif;
                            font-weight: normal;
                        }

                        padding-left: 0.9375rem;
                        padding-right: 0.9375rem;

                        .span-right {
                            margin-right: .6rem;
                        }

                        .span-left {
                            margin-left: .6rem;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 425px) {
            .project-bar {
                margin-top: 90px;
            }
        }

        .info-grid {
            display: grid;
            grid-template-columns: 60%;
            padding-inline: 0.9375rem;
            gap: 3rem;
            padding: 0 4.5rem 0 4.5rem;

            p {
                font-size: 1.45rem;
                line-height: 1.1em;
            }

            .info-extra {
                display: flex;
                gap: 3rem;

                .info-extra__col {
                    h3 {
                        font-size: 1.45rem;
                        margin-bottom: 0.8em;
                    }

                    ol {
                        li {
                            font-size: 0.8rem;
                            line-height: 1.3em;
                        }
                    }
                }
            }

            @media screen and (max-width: 425px) {

                .info-extra {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }
        }

        @media screen and (max-width: 425px) {

            .info-grid {
                margin-top: 1.6rem;
                grid-template-columns: 100%;
                padding-inline: 0.9375rem;
                margin-bottom: 0.9375rem;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    :root {
        font-size: 4vw;
    }
}